streamlit
edge-tts
torch
diffusers
deep-translator
indic-transliteration
Pillow
transformers
safetensors
accelerate
ping3
#youtube download
pytube
git+https://github.com/pytube/pytube
yt-dlp>=2025.2.9
#paraphrase
streamlit>=1.30.0
nltk>=3.8.1
pydub>=0.25.1
audioop-lts; python_version >= '3.13'
